<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} · Jamstack Fast Track</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <a href="/">Jamstack Fast Track</a>
      <nav>
        <a href="/" class="active">Home</a>
        <a href="/about/">About</a>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <nav>Built by <a href="#yoursitehere">Your Name Here</a></nav>
    </footer>
  </body>
</html>
